<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/admin.css">

</head>

<body id="baap">
    <div>
        <header>
            <ul style="list-style-type: none;">
                <li class="nav-item">
                    <div>
                        <a href="/addAmv">Add AMV</a>

                    </div>
                </li>
                <li class="nav-item">
                    <div><a href="/addAnime">Add Anime</a>

                    </div>
                </li>
                <li class="nav-item">
                    <div>
                        <a href="/addManga">Add Manga</a>

                    </div>
                </li>
                <li class="nav-item">
                    <div><a href="/addFanimation">Add Fanimation</a>

                    </div>
                </li>
                <li class="nav-item">
                    <div><a href="/addHentai">Add Hentai</a>

                    </div>
                </li>
                <li class="nav-item">
                    <div><a href="/addMerch">Add merch</a>

                    </div>
                </li>
                <li class="nav-item">
                    <div><a href="/addOst">Add OST</a>

                    </div>
                </li>




            </ul>
        </header>
    </div>


</body>

</html>