<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/anime.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="navigator">
        <header>
            <ul class="nav justify-content-start ml-4">
                <li class='nav-item mt-1'>
                    <a href="/home" class="nav-link bg-transparent text-dark link">Home</a>
                </li>
                <li class='nav-item mt-1'>
                    <a href="/amv" class="nav-link bg-transparent text-dark link">AMV</a>
                </li>
                <li class='nav-item mt-1'>
                    <a href="/ost" class="nav-link bg-transparent text-dark link">OST</a>
                </li>
                <li class='nav-item mt-1'>
                    <a href="/manga" class="nav-link bg-transparent text-dark link">MANGA</a>
                </li>
                <li class='nav-item mt-1'>
                    <a href="/hentai" class="nav-link bg-transparent text-dark link">HENTAI</a>
                </li>
                <li id='search'>
                    <form action="#" method='POST'>
                        <input type="text" name="search" id="search" placeholder='Search'>
                    </form>
                </li>
            </ul>
        </header>
        <div id="seprator"></div>
        <div id="container">
            <!--this will contain the the menu-->

            <div id="menu"></div>

            <!--this will contain the content-->
            <div id="content">
                <div class="row">
                    <div class="row-heading">
                        <h3 style="color:black">CATEGORY1</h3>
                    </div>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>


                    <div class="end">
                        See All
                    </div>
                </div>
                <div class="row">
                    <div class="row-heading">
                        <h3 style="color:black">CATEGORY2</h3>
                    </div>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>


                    <div class="end">
                        See All
                    </div>
                </div>
                <div class="row">
                    <div class="row-heading">
                        <h3 style="color:black">CATEGORY3</h3>
                    </div>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>


                    <div class="end">
                        See All
                    </div>
                </div>
                <div class="row">
                    <div class="row-heading">
                        <h3 style="color:black">CATEGORY4</h3>
                    </div>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>


                    <div class="end">
                        See All
                    </div>
                </div>
                <div class="row">
                    <div class="row-heading">
                        <h3 style="color:black">CATEGORY5</h3>
                    </div>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>


                    <div class="end">
                        See All
                    </div>
                </div>
                <div class="row">
                    <div class="row-heading">
                        <h3 style="color:black">CATEGORY6</h3>
                    </div>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>


                    <div class="end">
                        See All
                    </div>
                </div>
                <div class="row">
                    <div class="row-heading">
                        <h3 style="color:black">CATEGORY7</h3>
                    </div>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>


                    <div class="end">
                        See All
                    </div>
                </div>
                <div class="row">
                    <div class="row-heading">
                        <h3 style="color:black">CATEGORY8</h3>
                    </div>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>


                    <div class="end">
                        See All
                    </div>
                </div>
                <div class="row">
                    <div class="row-heading">
                        <h3 style="color:black">CATEGORY9</h3>
                    </div>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item" style="background-image: url('/images/action_test.jpg')">

                            <h1 class='play'><i class="fa fa-book" aria-hidden="true"></i></h1>
                            <header>Title</header>
                            <p>Description of anime</p>
                        </div>
                    </a>


                    <div class="end">
                        See All
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <%- include('include/footer.ejs')%>
</body>

</html>