<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
    <footer>
        <!--this will contain contact info-->
        <div id="column1">
            <h1>Contact</h1>
            <h3>Email: <strong><a href = "mailto:dumkaabhipray@gmail.com">Send Email</a></strong> </h3>
            <h3>Contact: <strong>7895724996</strong></h3>
            <!--place them in grid-->
            <h5>Fuck them</h5>
            <h5>Roopa MC</h5>
            <h5>Remya BKL</h5>
            <h5>HOD MC</h5>
            <h5>Lokesha MC</h5>
            <h5>VO analog lab wala bsdk</h5>
            <h5>NIE</h5>
            <h5>VTU</h5>

        </div>
        <!--this will contain general info-->
        <div id="column2">
            <a href="#">
                <h1>Cokkie policy</h1>
            </a>
            <a href="#">
                <h1>Use and terms</h1>
            </a>
            <a href="#">
                <h1>About</h1>
            </a>
        </div>
        <!--this will include navigation-->
        <div id="column3">
            <!--add a grid here-->
            <h2><a href="/anime">Anime</a></h2>
            <h2><a href="/manga">Manga</a></h2>
            <h2><a href="/ost">OST</a></h2>
            <h2><a href="/amv">AMV</a></h2>
            <h2><a href="/hentai">Hentai</a></h2>
            <h2><a href="/fanimation">Fanimation</a></h2>
            <h2><a href="/merch">Merchendiase</a></h2>
        </div>
    </footer>
</body>

</html>