<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/form.css">
    <title>Document</title>
</head>

<body id="baap">
    <form action="/form" method="POST">
        <div class="input">
            <input type="text" name="name" id="name" placeholder="Name">
        </div>
        <div class="input">
            <input type="mail" name="email" id="email" placeholder="Email">
        </div>
        <div class="input">
            <input type="password" name="password" id="password" placeholder="Password">
        </div>
        <div class="input">
            <input type="password" name="renter" id="renter" placeholder="Reenter password">
        </div>
        <input type="hidden" name="type" id="type" value="signup">

        <div id="button">
            <button type="submit">Signup</button>
        </div>
    </form>
</body>

</html>